@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
  }

:root {
	--gradient-shadow: linear-gradient(
		45deg,
		#7EA1FF,
		#8576FF,
		#FFEBB2,
		#E59BE9,
		#1C1678,
		#BC7FCD,
		#7EA1FF,
		#7EA1FF,
		#8576FF,
		#8576FF
	);
	--clr-1: #052b2f;
	--clr-2: #073438;
	--clr-3: #0e4b50;
	--clr-4: #2d8f85;
	--clr-5: #637c54;
}

.shadow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	background: linear-gradient(0deg, #000, #262626);
	border-radius: 0.5rem;
}
.shadow:before,
.shadow:after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	background: var(--gradient-shadow);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
	border-radius: 0.5rem; 
}

.shadow:after {
	filter: blur(20px);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}


  
  
  
  .card {
	aspect-ratio: 1 / 1.5;
	background: var(--clr-1);
	border-radius: 0.5rem;
	position: relative;
  }
  
  .card::before,
  .card::after {
	content: "";
	position: absolute;
	inset: -0.5rem;
	z-index: -1;
	background: conic-gradient(
	  from var(--gradient-angle),
	  var(--clr-3),
	  var(--clr-4),
	  var(--clr-5),
	  var(--clr-4),
	  var(--clr-3)
	);
	border-radius: inherit;
	animation: rotation 20s linear infinite;
  }
  
  .card::after {
	filter: blur(3.5rem);
  }
  
  @keyframes rotation {
	0% {
	  --gradient-angle: 0deg;
	}
	100% {
	  --gradient-angle: 360deg;
	}
  }
  
  .box {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  }

.typewriter{
	overflow: hidden; 
	border-right: .15em solid orange; 
	white-space: nowrap;
	margin: 0 auto; 
	letter-spacing: .15em; 
	animation: 
	  typing 3.5s steps(40, end),
	  blink-caret .75s step-end infinite;
  }
  
  
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
  }

  @keyframes resizeWidth {
	from {
	  width: 500px;
	  height: 300px; /* Adjust height as needed */
	}
	to {
	  width:  70%;
	  height: 100px; /* Adjust height as needed */
	}
}


.snap-scroll {
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
  }
  
  .snap-align-start {
	scroll-snap-align: start;
  }


  

  @keyframes playOnce {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.play-once {
    animation: playOnce 1s forwards; /* Change the animation duration as needed */
}


.container {
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.7) 100%);
    backdrop-filter: blur(10px);
}

.bg{
 background-image: radial-gradient(closest-side,#FFFFFF,#FFFFFF);
}



@keyframes slide-from-left {
	from {
	  transform: translateX(-50%);
	  opacity: 0;
	}
	to {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  
  @keyframes slide-from-bottom {
	from {
	  transform: translateY(50%);
	  opacity: 0;
	}
	to {
	  transform: translateY(0);
	  opacity: 1;
	}
  }


  @keyframes slide-from-right {
	from {
	  transform: translateX(50%);
	  opacity: 0;
	}
	to {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  
  
  .animation-left-to-right {
	animation: slide-from-left 1s ease-in-out forwards;
  }
  
  .animation-bottom-to-top {
	animation: slide-from-bottom 1s ease-in-out forwards;
  }

  .animation-right-to-left {
	animation: slide-from-right 1s ease-in-out forwards;
  }
  